<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title> 第二回　赂本官拙行铁扇子　惩土 </title>
	<link rel="stylesheet" href="core.css" type="text/css" />
</head>
<body>
	<h1 class='center'> 第二回　赂本官拙行铁扇子　惩土 </h1>

	<p>
		无敌回山后，廷藻在锦溪旁，租了一所房屋，与小凤居住。这锦溪去城南半里，岸夹桃李，间以垂杨，花时灿烂如锦，是个绝幽雅的所在。小凤换了女妆，不旬日，讨了个小丫头，一老媪，一小厮，五口儿过活。是年提学签事胡公，见廷藻文，大奇之，取入蒙化学第一。明年乡试，又中经魁，连捷成进士，以三甲授南阳叶县知县。
	</p>

	<p>
		这叶县俗最顽梗，多盗贼，盗贼以三霸王为窝主。城中霸王丁姓，是个武举；东南隅霸王韦姓，是个援例的监生；西北隅霸王刁姓，是个捐衔的照磨。三人各霸一方，专一占人妻女，纵爪牙暴掠良善，官府莫敢谁何，人又号他为坐地三虎。廷藻到任，微行访察，深悉其敝。是日，携眷到衙，前官交卸已毕，即有三名帖到拜。览之，丁武举、韦监生、刁照磨也。帖里写着或铁碗十全，或铁瓶一双，或铁扇一持。玉公大疑，呼旧吏问得明白，始知：铁扇者，银一千两；铁碗，银六十两；铁瓶，银四百两，是这里交结官府的暗号。玉公大怒，呼号房门子，骂曰：“本县是清如冰直如弦的官，才到任，敢以此物相侮弄！”掷其帖于地。
	</p>
</body>
</html>
