<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title> 笏山记 </title>
	<link rel="stylesheet" href="core.css" type="text/css" />
</head>
<body>
	<p>
		《笏山记》六十九回，清光绪三十四年（1908年）上海广智书局活版部出版，是清末长篇小说中的一部奇书。作者蔡召华，字守白，号吾庐居士、冷道人。系广东东莞鸣珂巷人。为清末附贡生。除小说《笏山记》、《驻云亭》外，尚有《爱吾庐诗钞》、《细字吟》、《草草草堂草》等诗文。本书兼有侠义、言情、公案、战争、理想等类小说的成分，叙述一连串光怪陆离的故事。其情节主线是一位叫颜少青的才子如何建立笏山王国，成为笏山王。笏山是小说虚构的一块与世隔绝的地域，说是在云南蒙化之西。作者笔下的笏山王国，并无什么新鲜的施政措施，依然是封建王朝的格局，看不到什么理想主义的色彩。小说的吸引力不仅在于它对贪官污吏和作为暴君写照的可庄公的揭露，主要还在于它曲折离奇的战争故事，以及在战争中夹杂着颜少青与十五位女子之间的爱情纠葛，所形成的令人目不暇接的场景。小说作者是熟读过《三国演义》、《水浒传》、《西游记》、《红楼梦》等古典小说名著的，他笔下不少人物的行为，不论是降魔克敌，还是预设计谋，还是花前月下，往往有模仿的痕迹。当然在模仿中也不乏创新之处，如第十五回可娇鸾计救颜少青的情节，第五十六回张小受命骑木鸦飞入眉京张贴檄文招致眉京大乱的故事，就颇别致新颖。总起来看，《笏山记》是部可读性很强的长篇小说。
	</p>

	<p>
		本书依原东莞博物馆藏钞本之影印本标点。
	</p>

</body>
</html>